/* ===========================================================
General Styling
=========================================================== */

body {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  margin: 0;
  max-width: 1400px;
}

img {
  width: 100%;
  padding: 0.5rem 0;
}

/* ===========================================================
Nav Bar
=========================================================== */

.mobile-container {
  max-width: 480px;
  width: 100%;
  margin: auto;
  background-color: #fff;
  height: 500px;
  color: #4f4f91;
  border-radius: 10px;
}

.topnav {
  overflow: hidden;
  background-color: #fff;
  position: relative;
}

.topnav #myLinks {
  display: none;
  list-style: none;
  padding-left: 0;
}

.topnav a.icon {
  background: #fff;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.topnav li a:hover {
  background-color: #ddd;
  color: #4f4f91;
}

.active {
  color: #000;
  text-align: left;
  text-decoration: none;
  padding-left: 1rem;
}

li a {
  text-decoration: none;
}

/* ===========================================================
Main
=========================================================== */

#main {
  position: absolute;
  background: #fff;
  margin: 0 auto;
  padding: 0 1.5rem;
  border-radius: 0 0 0.3125rem 0.3125rem;
}

#t01 tr:nth-child(odd) {
  background-color: #f1f1f1;
  border: 0.1rem solid #f1f1f1;
}

.main-section {
  padding-bottom: 1rem;
}

.main-section h2 {
  background: #4f4f91;
  color: #fff;
  text-transform: uppercase;
  margin: 0 -2rem;
  padding: 0.7rem 0;
}

.main-section p,
.main-section h4,
.main-section ul,
.main-section ol {
  text-align: left;
}

.main-section p,
.main-section ul,
.main-section ol,
table {
  font-size: 0.8rem;
}

.main-section ul,
.main-section ol {
  padding-left: 2rem;
}

.codespan {
  color: #7979af;
  background-color: #f1f1f1;
  padding: 0 0.5rem;
  font-size: 1rem;
}

.codeblock {
  padding: 1rem;
}

pre code {
  background: #f1f1f1;
  border: 0.1rem solid #000;
  display: block;
  text-align: left;
}

table,
th,
td {
  margin-top: 1rem;
  border-collapse: collapse;
  padding: 1rem;
  text-align: left;
  border-spacing: 5px;
}

.note {
  background: #7979af;
  margin: 0 -2rem 1rem -2rem;
  padding: 1rem 2rem;
  text-align: justify;
  color: #fff;
}

.note h5 {
  padding-bottom: 0;
}

.red,
.blue,
.orange,
.green {
  padding: 2rem;
  border: 0.1rem solid;
  margin: 0.5rem;
  color: #fff;
}

.red {
  border: #ff0000;
  background: #ff0000;
}

.blue {
  border: #0000ff;
  background: #0000ff;
}

.orange {
  border: #ffa500;
  background: #ffa500;
}

.green {
  border: #008000;
  background: #008000;
}

/* ===========================================================
Footer
=========================================================== */

/* ===========================================================
Media Query
=========================================================== */
@media (min-width: 768px) {
  .topnav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #f1f1f1;
    overflow-x: hidden;
    padding-top: 15px;
  }

  .main-section p {
    font-size: 1rem;
  }

  .main-section p,
  .main-section ul,
  .main-section ol,
  table {
    font-size: 1rem;
  }

  .codespan {
    font-size: 1.3rem;
  }

  body {
    max-width: 968px;
    margin: 0 auto;
  }

  .red,
  .blue,
  .orange,
  .green,
  pre code,
  table,
  img {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
  }

  .red,
  .blue,
  .orange,
  .green {
    margin-top: 1rem;
  }

  table {
    margin-top: 1rem;
    line-height: 2rem;
  }
}
